<a href="https://colab.research.google.com/github/juliosoterooo/Extracci-n-de-datos/blob/main/Act%203.3%20Valores%20At%C3%ADpicos/Actividad%203.3.2/mexico.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
from google.colab import files
files.upload()

In [54]:
#Cargar archivo csv desde equipo
data=pd.read_csv("listings.csv.gz")
data.head(5)

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,898633,https://www.airbnb.com/rooms/898633,20240627045222,2024-06-28,city scrape,City SkyLine View from 1 Bedroom Apt in CDMX,The LOCATION is undoubtedly THE BIG advantage ...,The hipster Roma neighborhood embodies a color...,https://a0.muscache.com/pictures/ba75b1c1-cb02...,4796027,...,4.96,4.93,4.91,NaN,f,3,2,1,0,0.41
1,35797,https://www.airbnb.com/rooms/35797,20240627045222,2024-06-27,city scrape,Villa Dante,"Dentro de Villa un estudio de arte con futon, ...","Santa Fe Mall, Interloma Park and the Lion Des...",https://a0.muscache.com/pictures/f395ab78-1185...,153786,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
2,44616,https://www.airbnb.com/rooms/44616,20240627045222,2024-06-28,city scrape,CONDESA HAUS B&B,A new concept of hosting in mexico through a b...,NaN,https://a0.muscache.com/pictures/251410/ec75fe...,196253,...,4.78,4.98,4.48,NaN,f,13,4,2,0,0.42
3,913084,https://www.airbnb.com/rooms/913084,20240627045222,2024-06-28,city scrape,15 blocks from Paseo de la Reforma,NaN,"It borders the old and traditional San Rafael,...",https://a0.muscache.com/pictures/16663562/7bed...,4647293,...,4.93,4.46,4.75,NaN,t,1,1,0,0,1.19
4,67703,https://www.airbnb.com/rooms/67703,20240627045222,2024-06-28,city scrape,"2 bedroom apt. deco bldg, Condesa","Comfortably furnished, sunny, 2 bedroom apt., ...",NaN,https://a0.muscache.com/pictures/3281720/6f078...,334451,...,4.92,4.98,4.91,NaN,f,2,2,0,0,0.32

In [ ]:
data.info()

**eliminación de columnas innecesarias**

In [56]:
data.drop(['listing_url','scrape_id','last_scraped','source','name','description','bathrooms_text','neighborhood_overview','picture_url','host_url','host_about','host_thumbnail_url','host_picture_url','neighbourhood_group_cleansed','bathrooms','amenities','minimum_minimum_nights','maximum_minimum_nights','minimum_maximum_nights','calendar_updated','calendar_last_scraped','number_of_reviews_l30d','first_review','license','calculated_host_listings_count_entire_homes','last_review','calculated_host_listings_count_private_rooms','calculated_host_listings_count_shared_rooms'],axis=1,inplace=True)

In [57]:
#corregir columnas con caracteres
data['price'] = data['price'].str.replace('$', '').str.replace(',', '').astype(float)

In [58]:
data['host_acceptance_rate']=data['host_acceptance_rate'].str.replace('%', '').astype(float)
data['host_response_rate']=data['host_response_rate'].str.replace('%', '').astype(float)

In [59]:
data['host_acceptance_rate']=data['host_acceptance_rate']/100
data['host_response_rate']=data['host_response_rate']/100

**limpiar la base de datos**

In [60]:
pd.options.display.max_rows= None

In [ ]:
#Corroboramos valores nulos
valores_nulos=data.isnull().sum()
valores_nulos

In [62]:
valores_nulos=data.isnull().sum().sum()
valores_nulos

81579

**separar los dataframes**

In [63]:
#creación de 2 dataframes para procesar los outliers
cuantitativas = data.select_dtypes(include=[int, np.float64])
cualitativas=data.select_dtypes(include=[object])

**limpieza de las variables cuantitativas**

decidimos usar el método de media, pues permit\e mantener la representatividad de las variables, conservando la mayor cantidad de datos y evitando sesgos por eliminación, además de ser un método simple y rápido de implementar

In [64]:
cuantitativas[['bedrooms']]=cuantitativas[['bedrooms']].fillna(round(cuantitativas[['bedrooms']].mean(),1))

In [65]:
cuantitativas[['beds']]=cuantitativas[['beds']].fillna(round(cuantitativas[['beds']].mean(),1))

In [67]:
cuantitativas[['price']]=cuantitativas[['price']].fillna(round(cuantitativas[['price']].mean(),1))

In [68]:
cuantitativas[['review_scores_rating']]=cuantitativas[['review_scores_rating']].fillna(round(cuantitativas[['review_scores_rating']].mean(),1))

In [69]:
cuantitativas[['review_scores_accuracy']]=cuantitativas[['review_scores_accuracy']].fillna(round(cuantitativas[['review_scores_accuracy']].mean(),1))

In [70]:
cuantitativas[['review_scores_cleanliness']]=cuantitativas[['review_scores_cleanliness']].fillna(round(cuantitativas[['review_scores_cleanliness']].mean(),1))

In [71]:
cuantitativas[['review_scores_checkin']]=cuantitativas[['review_scores_checkin']].fillna(round(cuantitativas[['review_scores_checkin']].mean(),1))

In [72]:
cuantitativas[['review_scores_communication']]=cuantitativas[['review_scores_communication']].fillna(round(cuantitativas[['review_scores_communication']].mean(),1))

In [73]:
cuantitativas[['review_scores_location']]=cuantitativas[['review_scores_location']].fillna(round(cuantitativas[['review_scores_location']].mean(),1))

In [74]:
cuantitativas[['review_scores_value']]=cuantitativas[['review_scores_value']].fillna(round(cuantitativas[['review_scores_value']].mean(),1))

In [75]:
cuantitativas[['reviews_per_month']]=cuantitativas[['reviews_per_month']].fillna(round(cuantitativas[['reviews_per_month']].mean(),1))

In [76]:
cuantitativas[['host_response_rate']]=cuantitativas[['host_response_rate']].fillna(round(cuantitativas[['host_response_rate']].mean(),1))

In [77]:
cuantitativas[['host_acceptance_rate']]=cuantitativas[['host_acceptance_rate']].fillna(round(cuantitativas[['host_acceptance_rate']].mean(),1))

In [78]:
valores_nulos=cuantitativas.isnull().sum()
valores_nulos

id                                0
host_id                           0
host_response_rate                0
host_acceptance_rate              0
host_listings_count               0
host_total_listings_count         0
latitude                          0
longitude                         0
accommodates                      0
bedrooms                          0
beds                              0
price                             0
minimum_nights                    0
maximum_nights                    0
maximum_maximum_nights            0
minimum_nights_avg_ntm            0
maximum_nights_avg_ntm            0
availability_30                   0
availability_60                   0
availability_90                   0
availability_365                  0
number_of_reviews                 0
number_of_reviews_ltm             0
review_scores_rating              0
review_scores_accuracy            0
review_scores_cleanliness         0
review_scores_checkin             0
review_scores_communication       0
review_scores_location            0
review_scores_value               0
calculated_host_listings_count    0
reviews_per_month                 0
dtype: int64

**limpieza de las variables cualitativas**

 decidí usar la moda, pues facilita el análisis posterior al garantizar que no haya valores faltantes en la variable categórica

In [79]:
import statistics as st

In [80]:
mode = st.mode(x for x in data['host_location'] if x is not None)
mode

'Mexico City, Mexico'

In [81]:
mode = st.mode(x for x in data['host_response_time'] if x is not None)
mode

'within an hour'

In [82]:
mode = st.mode(x for x in data['host_is_superhost'] if x is not None)
mode

'f'

In [83]:
mode = st.mode(x for x in data['host_neighbourhood'] if x is not None)
mode

nan

In [84]:
mode = st.mode(x for x in data['neighbourhood'] if x is not None)
mode

'Mexico City, Ciudad de México, Mexico'

In [85]:
mode = st.mode(x for x in data['has_availability'] if x is not None)
mode

't'

In [87]:
cualitativas["host_location"].fillna(mode, inplace=True)
cualitativas["host_response_time"].fillna(mode, inplace=True)
cualitativas["host_is_superhost"].fillna(mode, inplace=True)
cualitativas["host_neighbourhood"].fillna(mode, inplace=True)
cualitativas["neighbourhood"].fillna(mode, inplace=True)
cualitativas["has_availability"].fillna(mode, inplace=True)

In [88]:
valores_nulos=cualitativas.isnull().sum()
valores_nulos

host_name                 0
host_since                0
host_location             0
host_response_time        0
host_is_superhost         0
host_neighbourhood        0
host_verifications        0
host_has_profile_pic      0
host_identity_verified    0
neighbourhood             0
neighbourhood_cleansed    0
property_type             0
room_type                 0
has_availability          0
instant_bookable          0
dtype: int64

In [53]:
valores_nulos=cualitativas.isnull().sum()
valores_nulos

host_name                     0
host_since                    0
host_location              5606
host_response_time         4197
host_is_superhost          1543
host_neighbourhood        13355
host_verifications            0
host_has_profile_pic          0
host_identity_verified        0
neighbourhood             10290
neighbourhood_cleansed        0
property_type                 0
room_type                     0
has_availability           1036
instant_bookable              0
dtype: int64

In [89]:
cuantitativas.to_csv('cuantitativas_limpio.csv')

In [92]:
cualitativas.to_csv('cualitativas_limpio.csv')