<a href="https://colab.research.google.com/github/juliosoterooo/Extracci-n-de-datos/blob/main/Act%203.3%20Valores%20At%C3%ADpicos/Actividad%203.3.2/M%C3%A9xico_act_3_3_valores_at%C3%ADpicos_pt_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Importamos las libreerias pandas, numpy y matplotlib respectivamente
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
#Cargar archivo csv desde equipo
data=pd.read_csv("listings_mexico.csv")

# Analisis de columnas

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26536 entries, 0 to 26535
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            26536 non-null  int64
 1   listing_url                                   26536 non-null  object
 2   scrape_id                                     26536 non-null  int64
 3   last_scraped                                  26536 non-null  object
 4   source                                        26536 non-null  object
 5   name                                          26536 non-null  object
 6   description                                   25585 non-null  object
 7   neighborhood_overview                         16246 non-null  object
 8   picture_url                                   26536 non-null  object
 9   host_id                                       26536 non-null  int64
 10  host_url                                      26536 non-null  object
 11  host_name                                     26536 non-null  object
 12  host_since                                    26536 non-null  object
 13  host_location                                 20930 non-null  object
 14  host_about                                    15354 non-null  object
 15  host_response_time                            22339 non-null  object
 16  host_response_rate                            22339 non-null  object
 17  host_acceptance_rate                          23681 non-null  object
 18  host_is_superhost                             24993 non-null  object
 19  host_thumbnail_url                            26536 non-null  object
 20  host_picture_url                              26536 non-null  object
 21  host_neighbourhood                            13181 non-null  object
 22  host_listings_count                           26536 non-null  int64
 23  host_total_listings_count                     26536 non-null  int64
 24  host_verifications                            26536 non-null  object
 25  host_has_profile_pic                          26536 non-null  object
 26  host_identity_verified                        26536 non-null  object
 27  neighbourhood                                 16246 non-null  object
 28  neighbourhood_cleansed                        26536 non-null  object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      26536 non-null  float64
 31  longitude                                     26536 non-null  float64
 32  property_type                                 26536 non-null  object
 33  room_type                                     26536 non-null  object
 34  accommodates                                  26536 non-null  int64
 35  bathrooms                                     23407 non-null  float64
 36  bathrooms_text                                26511 non-null  object
 37  bedrooms                                      25465 non-null  float64
 38  beds                                          23372 non-null  float64
 39  amenities                                     26536 non-null  object
 40  price                                         23338 non-null  object
 41  minimum_nights                                26536 non-null  int64
 42  maximum_nights                                26536 non-null  int64
 43  minimum_minimum_nights                        26536 non-null  int64
 44  maximum_minimum_nights                        26536 non-null  int64
 45  minimum_maximum_nights                        26536 non-null  int64
 46  maximum_maximum_nights                        26536 non-null  int64
 47  minimum_nights_avg_ntm                        26536 non-null  float64
 48  maximum_nights_avg_ntm                        26536 non-null  float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              25500 non-null  object
 51  availability_30                               26536 non-null  int64
 52  availability_60                               26536 non-null  int64
 53  availability_90                               26536 non-null  int64
 54  availability_365                              26536 non-null  int64
 55  calendar_last_scraped                         26536 non-null  object
 56  number_of_reviews                             26536 non-null  int64
 57  number_of_reviews_ltm                         26536 non-null  int64
 58  number_of_reviews_l30d                        26536 non-null  int64
 59  first_review                                  22664 non-null  object
 60  last_review                                   22664 non-null  object
 61  review_scores_rating                          22664 non-null  float64
 62  review_scores_accuracy                        22649 non-null  float64
 63  review_scores_cleanliness                     22648 non-null  float64
 64  review_scores_checkin                         22649 non-null  float64
 65  review_scores_communication                   22649 non-null  float64
 66  review_scores_location                        22649 non-null  float64
 67  review_scores_value                           22649 non-null  float64
 68  license                                       0 non-null      float64
 69  instant_bookable                              26536 non-null  object
 70  calculated_host_listings_count                26536 non-null  int64
 71  calculated_host_listings_count_entire_homes   26536 non-null  int64
 72  calculated_host_listings_count_private_rooms  26536 non-null  int64
 73  calculated_host_listings_count_shared_rooms   26536 non-null  int64
 74  reviews_per_month                             22664 non-null  float64
dtypes: float64(18), int64(23), object(34)
memory usage: 15.2+ MB

## Eliminacion de columnas innecesarias

In [ ]:
data.drop(['listing_url','scrape_id','last_scraped','source','name','description','bathrooms_text','neighborhood_overview','picture_url','host_url','host_about','host_thumbnail_url','host_picture_url','neighbourhood_group_cleansed','amenities','minimum_minimum_nights','maximum_minimum_nights','minimum_maximum_nights','calendar_updated','calendar_last_scraped','number_of_reviews_l30d','first_review','license','calculated_host_listings_count_entire_homes','last_review','calculated_host_listings_count_private_rooms','calculated_host_listings_count_shared_rooms'],axis=1,inplace=True)

In [ ]:
data['price']

In [ ]:
#Corregimos columna
data['price'] = data['price'].str.replace('$', '').str.replace(',', '').astype(float)

In [ ]:
data['host_response_rate']

In [ ]:
data['host_acceptance_rate']

In [ ]:
data['host_acceptance_rate']=data['host_acceptance_rate'].str.replace('%', '').astype(float)
data['host_response_rate']=data['host_response_rate'].str.replace('%', '').astype(float)

In [ ]:
data['host_acceptance_rate']=data['host_acceptance_rate']/100
data['host_response_rate']=data['host_response_rate']/100

In [ ]:
data['host_response_rate']

# Limpieza de DF

In [ ]:
#Corroboramos valores nulos
pd.options.display.max_rows= None
valores_nulos=data.isnull().sum()
valores_nulos

id                                    0
host_id                               0
host_name                             0
host_since                            0
host_location                      5606
host_response_time                 4197
host_response_rate                 4197
host_acceptance_rate               2855
host_is_superhost                  1543
host_neighbourhood                13355
host_listings_count                   0
host_total_listings_count             0
host_verifications                    0
host_has_profile_pic                  0
host_identity_verified                0
neighbourhood                     10290
neighbourhood_cleansed                0
latitude                              0
longitude                             0
property_type                         0
room_type                             0
accommodates                          0
bathrooms                          3129
bedrooms                           1071
beds                               3164
price                              3198
minimum_nights                        0
maximum_nights                        0
maximum_maximum_nights                0
minimum_nights_avg_ntm                0
maximum_nights_avg_ntm                0
has_availability                   1036
availability_30                       0
availability_60                       0
availability_90                       0
availability_365                      0
number_of_reviews                     0
number_of_reviews_ltm                 0
review_scores_rating               3872
review_scores_accuracy             3887
review_scores_cleanliness          3888
review_scores_checkin              3887
review_scores_communication        3887
review_scores_location             3887
review_scores_value                3887
instant_bookable                      0
calculated_host_listings_count        0
reviews_per_month                  3872
dtype: int64

## Separamos y limpiamos DF

In [ ]:
#Creamos 2 DF's para poder procesar los outliers
cuantitativas = data.select_dtypes(include=[int, np.float64])
cualitativas=data.select_dtypes(include=[object])

### Limpieza var. cuantitativas

In [ ]:
cuantitativas[['bedrooms']]=cuantitativas[['bedrooms']].fillna(round(cuantitativas[['bedrooms']].mean(),1))

In [ ]:
cuantitativas[['beds']]=cuantitativas[['beds']].fillna(round(cuantitativas[['beds']].mean(),1))

In [ ]:
cuantitativas[['price']]=cuantitativas[['price']].fillna(round(cuantitativas[['price']].mean(),1))

In [ ]:
cuantitativas[['review_scores_rating']]=cuantitativas[['review_scores_rating']].fillna(round(cuantitativas[['review_scores_rating']].mean(),1))

In [ ]:
cuantitativas[['review_scores_accuracy']]=cuantitativas[['review_scores_accuracy']].fillna(round(cuantitativas[['review_scores_accuracy']].mean(),1))

In [ ]:
cuantitativas[['review_scores_cleanliness']]=cuantitativas[['review_scores_cleanliness']].fillna(round(cuantitativas[['review_scores_cleanliness']].mean(),1))

In [ ]:
cuantitativas[['review_scores_checkin']]=cuantitativas[['review_scores_checkin']].fillna(round(cuantitativas[['review_scores_checkin']].mean(),1))

In [ ]:
cuantitativas[['review_scores_communication']]=cuantitativas[['review_scores_communication']].fillna(round(cuantitativas[['review_scores_communication']].mean(),1))

In [ ]:
cuantitativas[['review_scores_location']]=cuantitativas[['review_scores_location']].fillna(round(cuantitativas[['review_scores_location']].mean(),1))

In [ ]:
cuantitativas[['review_scores_value']]=cuantitativas[['review_scores_value']].fillna(round(cuantitativas[['review_scores_value']].mean(),1))

In [ ]:
cuantitativas[['bathrooms']]=cuantitativas[['bathrooms']].fillna(round(cuantitativas[['bathrooms']].mean(),1))

In [ ]:
cuantitativas[['reviews_per_month']]=cuantitativas[['reviews_per_month']].fillna(round(cuantitativas[['reviews_per_month']].mean(),1))

In [ ]:
cuantitativas[['host_response_rate']]=cuantitativas[['host_response_rate']].fillna(round(cuantitativas[['host_response_rate']].mean(),1))

In [ ]:
cuantitativas[['host_acceptance_rate']]=cuantitativas[['host_acceptance_rate']].fillna(round(cuantitativas[['host_acceptance_rate']].mean(),1))

In [ ]:
valores_nulos=cuantitativas.isnull().sum()
valores_nulos

id                                0
host_id                           0
host_response_rate                0
host_acceptance_rate              0
host_listings_count               0
host_total_listings_count         0
latitude                          0
longitude                         0
accommodates                      0
bathrooms                         0
bedrooms                          0
beds                              0
price                             0
minimum_nights                    0
maximum_nights                    0
maximum_maximum_nights            0
minimum_nights_avg_ntm            0
maximum_nights_avg_ntm            0
availability_30                   0
availability_60                   0
availability_90                   0
availability_365                  0
number_of_reviews                 0
number_of_reviews_ltm             0
review_scores_rating              0
review_scores_accuracy            0
review_scores_cleanliness         0
review_scores_checkin             0
review_scores_communication       0
review_scores_location            0
review_scores_value               0
calculated_host_listings_count    0
reviews_per_month                 0
dtype: int64

### Limpieza var. cualitativas

In [ ]:
cualitativas['host_location']=cualitativas['host_location'].fillna('Unknown location')

In [ ]:
cualitativas['host_response_time']=cualitativas['host_response_time'].fillna('Unknown time')

In [ ]:
cualitativas['host_is_superhost']=cualitativas['host_response_time'].fillna('Unknown')

In [ ]:
cualitativas['host_neighbourhood']=cualitativas['host_neighbourhood'].fillna('Unknown')

In [ ]:
cualitativas['neighbourhood']=cualitativas['neighbourhood'].fillna('Unknown')

In [ ]:
cualitativas['has_availability']=cualitativas['has_availability'].fillna('Unknown')

In [ ]:
valores_nulos=cualitativas.isnull().sum()
valores_nulos

host_name                 0
host_since                0
host_location             0
host_response_time        0
host_is_superhost         0
host_neighbourhood        0
host_verifications        0
host_has_profile_pic      0
host_identity_verified    0
neighbourhood             0
neighbourhood_cleansed    0
property_type             0
room_type                 0
has_availability          0
instant_bookable          0
dtype: int64

In [ ]:
cuantitativas.to_csv('Cuantitativas_Limpio(méxico).csv')

In [ ]:
cualitativas.to_csv('Cualitativo_Limpio.csv(méxico)')