<a href="https://colab.research.google.com/github/juliosoterooo/Extracci-n-de-datos/blob/main/act%203.2%20Valores%20nulos/2_valores_nulos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

**Valores Nulos**

In [ ]:
from google.colab import files
files.upload()

In [8]:
#carga desde un archivo .xlsx sin indice
df = pd.read_csv('inmuebles2.csv')
df.head(5)

,Unnamed: 0,Esta es una base de datos que describe las operaciones inmobiliarias de una empresa,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,0,Referencia,Fecha Alta,Tipo,Operación,Provincia,Superficie,Precio Venta,Fecha Venta,Vendedor
1,1,1,2004-01-01 00:00:00,Parking,Alquiler,Lleida,291,2133903,2004-06-19 00:00:00,Carmen
2,2,2,2004-01-01 00:00:00,Local,Venta,Girona,185,1945424,2004-04-19 00:00:00,Pedro
3,3,3,2004-01-01 00:00:00,Oficina,Alquiler,Girona,82,NaN,2004-11-08 00:00:00,Joaquín
4,4,4,2004-01-02 00:00:00,Parking,Alquiler,Girona,285,NaN,2004-04-27 00:00:00,Jesús

In [ ]:
# eliminar primera fila o filas innecesarias
df1 = pd.read_csv('inmuebles2.csv', skiprows=1)
df1

In [ ]:
df1

In [ ]:
# eliminar columnas innecesarias
# axis = 1 para columnas
# axis = 0 para filas
df2 = df1.drop(['0','Referencia'], axis=1)
df2

In [13]:
#identificar valores nulos por columna
valores_nulos = df2.isnull().sum()
valores_nulos

Fecha Alta        2
Tipo              2
Operación         1
Provincia         4
Superficie        4
Precio Venta      6
Fecha Venta     578
Vendedor        578
dtype: int64

In [14]:
#identificar valores nulos por dataframe
valores_nulos = df2.isnull().sum().sum()
valores_nulos

1175

**Métodos de sustitución de valores nulos**

In [15]:
#realizamos una copia del dataframe
df3 = df2.copy()

In [16]:
#primer método de sustitución de valores nulos
#sustituit valores nulos con promedio o media
df3["Superficie"] = df3["Superficie"].fillna(round(df2["Superficie"].mean(),1))

In [17]:
#corroboramos valores nulos
valores_nulos = df3.isnull().sum()
valores_nulos

Fecha Alta        2
Tipo              2
Operación         1
Provincia         4
Superficie        0
Precio Venta      6
Fecha Venta     578
Vendedor        578
dtype: int64

In [19]:
#segundo método de sustitución de valores nulos
#sustituir valores nulos con mediana
df3["Precio Venta"] = df3["Precio Venta"].fillna(round(df2["Precio Venta"].median(),1))

In [20]:
#corroboramos valores nulos
valores_nulos = df3.isnull().sum()
valores_nulos

Fecha Alta        2
Tipo              2
Operación         1
Provincia         4
Superficie        0
Precio Venta      0
Fecha Venta     578
Vendedor        578
dtype: int64

In [ ]:
#tercer método de sustitución de valores nulos
#sustituir valores nulos por un valor númerico en concreto
df3["Fecha Alta"] = df3["Fecha Alta"].fillna(10)
df3

In [22]:
#corroboramos valores nulos
valores_nulos = df3.isnull().sum()
valores_nulos

Fecha Alta        0
Tipo              2
Operación         1
Provincia         4
Superficie        0
Precio Venta      0
Fecha Venta     578
Vendedor        578
dtype: int64

In [23]:
#cuarto método de sustitución de valores nulos
#sustituir valores nulos por un string en concreto
df3["Fecha Venta"] = df3["Fecha Venta"].fillna("2030-06-19 00:00:00")

In [24]:
#corroboramos valores nulos
valores_nulos = df3.isnull().sum()
valores_nulos

Fecha Alta        0
Tipo              2
Operación         1
Provincia         4
Superficie        0
Precio Venta      0
Fecha Venta       0
Vendedor        578
dtype: int64

In [25]:
#quinto método de sustitución de valores nulos
#sustituir valores nulos ppr valores no nulos hacia adelante "forward fill" ("ffill")
#filtro por columnas
df3["Tipo"] = df3["Tipo"].fillna(method="ffill")

<ipython-input-25-c9d426a2e1c4>:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df3["Tipo"] = df3["Tipo"].fillna(method="ffill")

In [26]:
#corroboramos valores nulos
valores_nulos = df3.isnull().sum()
valores_nulos

Fecha Alta        0
Tipo              0
Operación         1
Provincia         4
Superficie        0
Precio Venta      0
Fecha Venta       0
Vendedor        578
dtype: int64

In [27]:
#sexto método de sustitución de valores nulos
#sustituir valores nulos por valores no nulos hacia atrás backward fill ("bfill")
#filtro por columnas
df3["Operación"] = df3["Operación"].fillna(method="bfill")

<ipython-input-27-289f3516360c>:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df3["Operación"] = df3["Operación"].fillna(method="bfill")

In [28]:
#corroboramos valores nulos
valores_nulos = df3.isnull().sum()
valores_nulos

Fecha Alta        0
Tipo              0
Operación         0
Provincia         4
Superficie        0
Precio Venta      0
Fecha Venta       0
Vendedor        578
dtype: int64

In [29]:
#sustituir valores nulos por valores no nulos hacia atrás backward fill ("bfill")
df3["Provincia"] = df3["Provincia"].fillna(method="bfill")

<ipython-input-29-1f1e7fc37021>:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df3["Provincia"] = df3["Provincia"].fillna(method="bfill")

In [31]:
#sustituir valores nulos ppr valores no nulos hacia adelante "forward fill" ("ffill")
df3["Vendedor"] = df3["Vendedor"].fillna(method="ffill")

<ipython-input-31-2f91d8b95cce>:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df3["Vendedor"] = df3["Vendedor"].fillna(method="ffill")

In [ ]:
#corroboramos valores nulos
valores_nulos = df3.isnull().sum()
valores_nulos

In [33]:
#corroboramos valores nulos
valores_nulos = df3.isnull().sum().sum()
valores_nulos

0

**Método de eliminación de valores nulos**

In [ ]:
#identificar valores nulos por columna
valores_nulos =df2.isnull().sum()
valores_nulos

In [35]:
#realizamos una copia del dataframe
df4 = df2.copy()

In [ ]:
#eliminamos filas con nulos
#no se agrega nada para eliminar filas y 1 para eliminar columnas
df4 = df2.dropna()
df4

In [37]:
#identificar valores nulos por columna
valores_nulos = df4.isnull().sum()
valores_nulos

Fecha Alta      0
Tipo            0
Operación       0
Provincia       0
Superficie      0
Precio Venta    0
Fecha Venta     0
Vendedor        0
dtype: int64

**Comparamos DataFrame3(Sustitución) y DataFrame4(Eliminación)**

In [ ]:
df3.info()

In [39]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2747 entries, 0 to 3045
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Fecha Alta    2747 non-null   object
 1   Tipo          2747 non-null   object
 2   Operación     2747 non-null   object
 3   Provincia     2747 non-null   object
 4   Superficie    2747 non-null   float64
 5   Precio Venta  2747 non-null   float64
 6   Fecha Venta   2747 non-null   object
 7   Vendedor      2747 non-null   object
dtypes: float64(2), object(6)
memory usage: 257.7+ KB

**Convertir DataSet sin valores nulos a CSV**

In [40]:
#convertir dataframe a csv
df3.to_csv("inmuebles_sin_nulos.csv")

In [41]:
#descargar archivo filtrado en csv
from google.colab import files

files.download("inmuebles_sin_nulos.csv")