<a href="https://colab.research.google.com/github/juliosoterooo/Extracci-n-de-datos/blob/main/act%203.2%20Valores%20nulos/actividad2_1(valores_nulos).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from google.colab import files
files.upload()

In [ ]:
#carga desde un archivo .xlsx sin indice
df = pd.read_csv('Ventas_totales.csv')
df.head(5)

In [29]:
df.head()

,indice_tiempo,ventas_precios_corrientes,ventas_precios_constantes,ventas_totales_canal_venta,salon_ventas,canales_on_line,ventas_totales_medio_pago,efectivo,tarjetas_debito,tarjetas_credito,...,almacen,panaderia,lacteos,carnes,verduleria_fruteria,alimentos_preparados_rotiseria,articulos_limpieza_perfumeria,indumentaria_calzado_textiles_hogar,electronicos_articulos_hogar,otros
0,01/01/2017,27858.9,27477.3,27858872.08,27591730.13,267141.956,27858872.08,1.023010e+07,6864575.384,9047205.493,...,6705475.318,9.459063e+05,2880656.169,2606192.942,1.050314e+06,340777.3882,4397543.671,772371.8476,1838507.096,2806660.309
1,01/02/2017,25994.2,25223.4,25994200.17,25749179.40,245020.769,25994200.17,9.719067e+06,6438494.011,8309150.301,...,6576624.803,9.256186e+05,2855639.900,2600083.591,1.026167e+06,328288.6951,4053283.771,672290.5165,1257661.903,2354084.901
2,01/03/2017,27780.0,26334.3,27780006.52,27472228.72,307777.804,27780006.52,1.024444e+07,6908522.962,8845010.494,...,7437264.174,1.016148e+06,3188259.169,2824976.726,1.075526e+06,353335.1548,4354197.611,667696.6653,1305674.917,2266189.277
3,01/04/2017,29134.3,27045.9,29134272.22,28827479.49,306792.733,29134272.22,1.031263e+07,7454251.800,9458166.682,...,8211244.093,1.132396e+06,3257140.159,3006158.760,1.037213e+06,359694.4537,4355706.646,838948.2458,1535726.345,2146755.887
4,01/05/2017,27969.0,25631.9,27969004.68,27569311.41,399693.262,27969004.68,1.014761e+07,6735747.319,9220929.862,...,7651058.084,1.033082e+06,3232635.767,2799142.123,9.826512e+05,336568.0085,4206101.605,915895.1498,1824462.036,2117971.483

In [4]:
#identificar valores nulos por columna
valores_nulos = df.isnull().sum()
valores_nulos

indice_tiempo                           0
ventas_precios_corrientes               0
ventas_precios_constantes               0
ventas_totales_canal_venta              0
salon_ventas                            6
canales_on_line                         0
ventas_totales_medio_pago               0
efectivo                                0
tarjetas_debito                         1
tarjetas_credito                        7
otros_medios                            1
ventas_totales_grupo_articulos          0
subtotal_ventas_alimentos_bebidas      10
bebidas                                 1
almacen                                 2
panaderia                               1
lacteos                                 1
carnes                                  1
verduleria_fruteria                     1
alimentos_preparados_rotiseria          1
articulos_limpieza_perfumeria           0
indumentaria_calzado_textiles_hogar     2
electronicos_articulos_hogar            3
otros                                   4
dtype: int64

In [5]:
#identificar valores nulos por dataframe
valores_nulos = df.isnull().sum().sum()
valores_nulos

42

In [6]:
#realizamos una copia del dataframe
df2 = df.copy()

**salon_ventas**

In [7]:
#sustituit valores nulos con promedio o media
df2["salon_ventas"] = df2["salon_ventas"].fillna(round(df["salon_ventas"].mean(),1))
#como son valores con decimal usamos media en unas ventas y así puedo ver mejor la distribución

In [ ]:
#corroboramos valores nulos
valores_nulos = df2.isnull().sum()
valores_nulos

**tarjetas_debito**

In [9]:
#sustituit valores nulos con promedio o media
df2["tarjetas_debito"] = df2["tarjetas_debito"].fillna(round(df["tarjetas_debito"].mean(),1))
#como son valores con decimal usamos media en unas ventas y así puedo ver mejor la distribución de las tarjetas

In [ ]:
#corroboramos valores nulos
valores_nulos = df2.isnull().sum()
valores_nulos

**tarjetas_credito**

In [12]:
#sustituit valores nulos con promedio o media
df2["tarjetas_credito"] = df2["tarjetas_credito"].fillna(round(df["tarjetas_credito"].mean(),1))
#como son valores con decimal usamos media en unas ventas y así puedo ver mejor la distribución de las tarjetas

In [ ]:
#corroboramos valores nulos
valores_nulos = df2.isnull().sum()
valores_nulos

**otros_medios**

In [14]:
df2["otros_medios"] = df2["otros_medios"].fillna(round(df["otros_medios"].median(),1))
#puedo ver la tendencia central de los metodos de pago

In [ ]:
#corroboramos valores nulos
valores_nulos = df2.isnull().sum()
valores_nulos

**subtotal_ventas_alimentos_bebidas**

In [ ]:
#sustituir valores nulos por un valor númerico en concreto
df2["subtotal_ventas_alimentos_bebidas"] = df2["subtotal_ventas_alimentos_bebidas"].fillna(10)
df2 # la use para evitar calculos erroneos a la hora de los totales de las ventas

In [ ]:
#corroboramos valores nulos
valores_nulos = df2.isnull().sum()
valores_nulos

**bebidas**

In [18]:
df2["bebidas"] = df2["bebidas"].fillna(round(df["bebidas"].median(),1))
#lo uso porque puedo ver la representación de las venats típicas, por ejemplo en ciertas temporadas

In [ ]:
#corroboramos valores nulos
valores_nulos = df2.isnull().sum()
valores_nulos

**almacen**

In [20]:
df2["almacen"] = df2["almacen"].fillna(round(df["almacen"].mean(),1))
#lo uso porque puedo ver la representación de las venats típicas, por ejemplo en ciertas temporadas

In [ ]:
#corroboramos valores nulos
valores_nulos = df2.isnull().sum()
valores_nulos

**panaderia**

In [22]:
df2["panaderia"] = df2["panaderia"].fillna(round(df["panaderia"].median(),1))
#lo uso porque puedo ver la representación de las venats típicas, por ejemplo en ciertas temporadas

In [ ]:
#corroboramos valores nulos
valores_nulos = df2.isnull().sum()
valores_nulos

**lacteos**

In [24]:
df2["lacteos"] = df2["lacteos"].fillna(round(df["lacteos"].median(),1))
#lo uso porque puedo ver la representación de las venats típicas, por ejemplo en ciertas temporadas

In [ ]:
#corroboramos valores nulos
valores_nulos = df2.isnull().sum()
valores_nulos

**carnes**

In [26]:
df2["carnes"] = df2["carnes"].fillna(round(df["carnes"].median(),1))
#lo uso porque puedo ver la representación de las venats típicas, por ejemplo en ciertas temporadas

In [ ]:
#corroboramos valores nulos
valores_nulos = df2.isnull().sum()
valores_nulos

**verduleria_fruteria**

In [30]:
df2["verduleria_fruteria"] = df2["verduleria_fruteria"].fillna(method="ffill")
#lo uso porque tiene números exponenciales

<ipython-input-30-b0616b012e3b>:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df2["verduleria_fruteria"] = df2["verduleria_fruteria"].fillna(method="ffill")

In [ ]:
#corroboramos valores nulos
valores_nulos = df2.isnull().sum()
valores_nulos

**alimentos_preparados_rotiseria**

In [33]:
#sustituit valores nulos con promedio o media
df2["alimentos_preparados_rotiseria"] = df2["alimentos_preparados_rotiseria"].fillna(round(df["alimentos_preparados_rotiseria"].mean(),1))
#lo uso porque da una representación general de las ventas

In [ ]:
#corroboramos valores nulos
valores_nulos = df2.isnull().sum()
valores_nulos

**indumentaria_calzado_textiles_hogar**

In [35]:
#sustituit valores nulos con promedio o media
df2["indumentaria_calzado_textiles_hogar"] = df2["indumentaria_calzado_textiles_hogar"].fillna(round(df["indumentaria_calzado_textiles_hogar"].mean(),1))
#lo uso porque da una representación general de las ventas

In [ ]:
#corroboramos valores nulos
valores_nulos = df2.isnull().sum()
valores_nulos

**electronicos_articulos_hogar**

In [37]:
df2["electronicos_articulos_hogar"] = df2["electronicos_articulos_hogar"].fillna(round(df["electronicos_articulos_hogar"].mean(),1))
#lo uso porque da una representación general de las ventas

In [ ]:
#corroboramos valores nulos
valores_nulos = df2.isnull().sum()
valores_nulos

**otros**

In [39]:
df2["otros"] = df2["otros"].fillna(round(df["otros"].median(),1))
# lo uso porque puedo ver como se comportan otros productos no tan relevantes

In [41]:
#corroboramos valores nulos
valores_nulos = df2.isnull().sum().sum()
valores_nulos

0

In [ ]:
#identificar valores nulos por columna
valores_nulos =df.isnull().sum()
valores_nulos

In [43]:
df3 = df.copy()

In [ ]:
df3 = df.dropna()
df3

In [ ]:
valores_nulos = df3.isnull().sum()
valores_nulos

In [ ]:
df2.info()

In [ ]:
df3.info()

In [49]:
df2.to_csv("ventas_totales_sin_nulos.csv")

In [50]:
from google.colab import files

files.download("ventas_totales_sin_nulos.csv")